/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);

}

body {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header *****/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 61px;
    margin-top: 5px;
}

nav ul {
    display: flex;
    list-style: none;
}


nav li {
    margin-right: 40px;
    border-top: 3px solid white;
    padding-top: 10px;
    margin-top: -5px;
}

nav li:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    cursor: auto;
    padding-top: 10px;

}

/*********** Main ***************/



/*******Recherche-Filtres*******/

.recherche {
    padding-bottom: 20px;
    padding-top: 10px;

}

.recherche button {
    display: no
}

.conteneur {
    padding-bottom: 20px;
    padding-top: 5px;
}

h1 {
    font-size: 22px;
}

.sous-texte-recherche {
    position: relative;
    bottom: 9px;
    font-size: 0.9em;
    margin-left: 0;
}

.formulaire {
    width: 377px;
    height: 49px;

}

.icone-formulaire {
    color: black;
    border: 1px solid transparent;
    border-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
    padding: 10px;
    margin-left: 0;
    position: relative;
    top: 1px;

}

.texte-formulaire {
    border: 1px solid transparent;
    border-color: #F2F2F2;
    border-right: none;
    padding: 10px;
    margin-left: -5px;
    margin-right: -4px;
}

.rechercher-formulaire {
    border: 1px solid transparent;
    border-color: #0065FC;
    border-radius: 0 10px 10px 0px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.filtres {
    display: flex;
    align-items: center;

}

.filtres p {
    margin-right: 10px;
    margin-left: 0;
    font-weight: bold;
}

.filtres div {
    display: flex;
}

.filtres a {
    font-weight: bold;
}

.bouton-filtres {
    padding: 10px 8px 10px 18px;
    margin-right: 8px;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    background-color: white;
}

.bouton-filtres:hover {
    background: #DEEBFF;
}

.texte-filtre {
    display: inline;
}
.conteneur-bouton {
    margin-right: 10px;
    margin-left: 0;

}

.conteneur-info {
    padding-top: 15px;
    padding-bottom: 20px;
}

.icone-info {
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 7px;
    margin-left: 0;
    
}

.info {
    display: inline;
    font-size: 1em;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.hebergements h2 {
    font-size: 22px;
    margin: 0;
}

.conteneur-carte {
    margin-bottom: 30px;
    box-sizing: border-box;
}
.conteneur-hebergement{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    box-sizing: border-box;
}

.conteneur-hebergement h3 {
    margin: 5px;
    font-size: 1.1em;
}

.conteneur-hebergement p {
    font-size: 0.9em;
}


.carte-hebergement {
    height: 220px;
    margin-top: 30px; 
    border: 1px solid white;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.carte-hebergement img{
    width: 100%;
    height: 110px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}

.description-hotel h3, p, i {
    margin-left: 20px;
}

.etoiles {
    margin-left: 0;
}

.etoiles-populaire {
    margin-left: 0;
}

.afficher-plus {
    font-size: 1.2em;
    font-weight: 700;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 0;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/************Activités***********/

.activites-marseille {
    padding-top: 50px;
    width: 100%;
}

.activites {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.activites-marseille h2 {
    padding-bottom: 20px;
}

.activites img {
    width: 100%;
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 0;
    object-fit: cover;
}

.carte-activites {
    width: 95%;
    height: 439px;
    background-color: white;
    border-radius: 20px;
    padding: 0;
    object-fit: cover;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.carte-activites h3 {
    padding-top: 10px;
    margin-left: 20px;
}

        /******Footer******/

footer {
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

footer div {
    width: 33%;
    background-color: #F2F2F2;
}

footer h3 {
    margin-left: 20px;
}

footer ul {
    list-style: none;
    margin-left: -20px;
}

footer li {
    margin-bottom: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filtres {
        flex-direction: column;
        align-items: flex-start;
    }

    .conteneur-info {
        margin-top: 20px;
    }

    .conteneur {
        padding-bottom: 0;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .carte-activites {
        height: 270px;
    }

    .carte-activites h3 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: bold;
    }

    .destination-activites-un {
        padding: 20px 15px 20px 15px;
    }

    .destination-activites-deux {
        padding: 10px 20px 15px 10px;
    }

    .activites img {
        object-fit: cover;
        height: 200px;
    }

}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    header {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    header a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    nav {
        width: 100%;
    }

    nav ul {
        padding: 0;
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
    }
    
    nav li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 50%;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 15px;
        
    }
    nav li:hover {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none;
        padding-bottom: 15px;
    }

    
    body {
        margin: 0;
    }

    .sous-texte-recherche {
        font-size: 1em;
    }

    .recherche {
        padding: 0px 20px 0px 20px;
    }

    .formulaire {
        width: 100%;
    }

    .texte-formulaire {
        width: 53%;
    }

    .icone-formulaire, .texte-formulaire, .icone-rechercher{
        padding: 15px;
    }

    .icone-formulaire {
        border-radius: 13px 0 0 13px;
        width: 5%;
    }

    .rechercher-formulaire {
        display: none;
    }

    .conteneur button {
        border: none;
        background-color: white;
    }

    .icone-rechercher {
        border: 1px solid transparent;
        border-color: #0065FC;
        border-radius: 13px 13px 13px 13px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        cursor: pointer;
        margin-left: 0;
    }
  
    .filtres-responsive {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .conteneur-responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }

    .texte-filtre {
        font-size: 14px;
    }

    .bouton-filtres {
        width: 50%;
        margin-right: 0;
    }

    .conteneur-info {
        display: flex;
    }

    .info {
        display: block;
    }

    .texte-info {
        margin-top: 0;
        margin-left: 10px;
    }

    .icone-info {
        width: 2%;
        height: 1em;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    #Hebergements {
        background-color: white;
    }

    .carte-hebergement {
        height: 208px;
    }
    .main-container {
        padding: 0;
    }

    .conteneur-hebergement  {
        grid-template-columns: repeat(1, 1fr);
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .populaires-title {
        padding-bottom: 30px;
    }
    .populaires-cards .card {
        margin-top: 0;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activites-marseille {
        padding-top: 50px;
    }

    .activites-marseille h2 {
        padding-left: 33px;
    }
    .activites {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .carte-activites {
        height: 200px;
        width: 80%;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    }

    .carte-activites img {
        height: 140px;
    }

    footer {
        flex-direction: column;
    }

    footer div {
        width: 100%;
    }

    footer h3 {
        padding-top: 20px;
    }
}
